.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.netrc
.swiftpm/
Package.resolved

Examples/.build/
Examples/.swiftpm/
Examples/**/*.js
Examples/**/*.css
Examples/**/*.tsx
Examples/**/*.ts
Examples/**/node_modules
node_modules/

Sources/StrandServer/Resources/ui/
